.book-list-section {
    margin-top: 50px;
}

.book-list-title {
    float: left;
    font-size: 1.5rem;
    font-weight: bold;
}

.book-list-more {
    float: right;
    font-size: 14px;
    margin-top: 15px;
}

.book-list-header {
    border-bottom: solid 1px #000000;
    padding: 0 20px 10px 20px;
}