footer {
	font-size: 80%;
	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #313131
}

footer address {
	color: #fff;
	letter-spacing: 2px;
	font-style: normal;
	padding-top: 10px
}

.footer-icon-github {
	color: #fff
}

footer a:hover {
	text-decoration: underline;
	color: #fff
}

.faa-wrench.animated, .faa-wrench.animated-hover:hover, .faa-parent.animated-hover:hover > .faa-wrench {
	-webkit-animation: wrench 2.5s ease infinite;
	animation: wrench 2.5s ease infinite;
	transform-origin-x: 90%;
	transform-origin-y: 35%;
	transform-origin-z: initial
}

@keyframes wrench {
	0% {
		-webkit-transform: rotate(-12deg);
		-ms-transform: rotate(-12deg);
		transform: rotate(-12deg)
	}

	8% {
		-webkit-transform: rotate(12deg);
		-ms-transform: rotate(12deg);
		transform: rotate(12deg)
	}

	10% {
		-webkit-transform: rotate(24deg);
		-ms-transform: rotate(24deg);
		transform: rotate(24deg)
	}

	18% {
		-webkit-transform: rotate(-24deg);
		-ms-transform: rotate(-24deg);
		transform: rotate(-24deg)
	}

	20% {
		-webkit-transform: rotate(-24deg);
		-ms-transform: rotate(-24deg);
		transform: rotate(-24deg)
	}

	28% {
		-webkit-transform: rotate(24deg);
		-ms-transform: rotate(24deg);
		transform: rotate(24deg)
	}

	30% {
		-webkit-transform: rotate(24deg);
		-ms-transform: rotate(24deg);
		transform: rotate(24deg)
	}

	38% {
		-webkit-transform: rotate(-24deg);
		-ms-transform: rotate(-24deg);
		transform: rotate(-24deg)
	}

	40% {
		-webkit-transform: rotate(-24deg);
		-ms-transform: rotate(-24deg);
		transform: rotate(-24deg)
	}

	48% {
		-webkit-transform: rotate(24deg);
		-ms-transform: rotate(24deg);
		transform: rotate(24deg)
	}

	50% {
		-webkit-transform: rotate(24deg);
		-ms-transform: rotate(24deg);
		transform: rotate(24deg)
	}

	58% {
		-webkit-transform: rotate(-24deg);
		-ms-transform: rotate(-24deg);
		transform: rotate(-24deg)
	}

	60% {
		-webkit-transform: rotate(-24deg);
		-ms-transform: rotate(-24deg);
		transform: rotate(-24deg)
	}

	68% {
		-webkit-transform: rotate(24deg);
		-ms-transform: rotate(24deg);
		transform: rotate(24deg)
	}

	75%, 100% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg)
	}

}